<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.AlbumDAO">
    <!--分页查询-->
    <select id="selectByPage" resultType="Album">
        select album_id id, title, cover, count, score, author, broadcast, brief, publish_time publishTime from c_album limit #{page},#{pagenum}
    </select>
    <!--查询总数-->
    <select id="selectZnum" resultType="java.lang.Integer">
        select count(*) from c_album
    </select>
    <!--添加-->
    <insert id="insert">
        insert into c_album values(#{id},#{title},#{cover},#{count},#{score},#{author},#{broadcast},#{brief},#{publishTime})
    </insert>
    <!--修改路径-->
    <update id="updateCover">
        update c_album set cover = #{cover} where album_id = #{id}
    </update>
    <!--根据id查询图片原路径-->
    <select id="selectCover" resultType="java.lang.String">
        select cover from c_album where album_id = #{id}
    </select>
    <!--修改数据-->
    <update id="updatez">
        update c_album set title = #{title}, score = #{score}, author = #{author},  broadcast = #{broadcast}, brief = #{brief}, publish_time = #{publishTime} where album_id = #{id}
    </update>
    <!--删除-->
    <delete id="delete">
        delete from c_album where album_id = #{id}
    </delete>
</mapper>
